<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="listcription" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <title>English Tochka</title>

</head>

<body>
    <main>
        <div class="exchanger">
            <div class="exchanger__balance">
                <div class="exchanger__balance__title">Ваш баланс</div>
                <div class="exchanger__balance__count">
                    <div class="exchanger__balance__count__icon"></div>
                    <div class="exchanger__balance__count__text"></div>
                    <div class="exchanger__balance__count__currency"></div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="js/main.min.js"></script>
</body>

</html>